{% extends 'base.html.twig' %}

{% block title %}New CategoryTag{% endblock %}

{% block body %}
    <h1>Create new CategoryTag</h1>

    {{ include('category_tag/_form.html.twig') }}

    <a href="{{ path('category_tag_index') }}">back to list</a>
{% endblock %}
